
<body class="login-background">
    <div class="login-box">
        <img class="img-fluid position-absolute" src="media/img/images.jpg" alt="Imagen centrada">
        <div class="login-logo">
            <a href="../../index2.html"><b>Películas</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Introduzca sus credenciales para iniciar sesión</p>

                <form id="frm_login" name="frm_login" autocomplete="off" onsubmit="return false;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" id="usuario" name="usuario" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" id="clave" name="clave" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" id="btn_login">
                                <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="app/controllers/login.js"></script>
</body>
