

  <div class="jumbotron">
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <i class="fas fa-film"></i> CRUD de Películas
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#mdl_registro_movie" id="btn_nueva_movie">
          <i class="fas fa-plus"></i> Nueva Película
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table" id="tabla_peliculas">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Director</th>
              <th scope="col">Año</th>
              <th scope="col">Clasificación</th>
              <th scope="col">Duración</th>
              <th scope="col">Póster</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody id="tb_peliculas"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="mdl_registro_movie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mdl_title_registro">
            <i class="fas fa-plus"></i> Registrar nueva película
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="frm_registro_movie" name="frm_registro_movie" onsubmit="return false" autocomplete="off" enctype="multipart/form-data">
            <input type="hidden" id="id_pelicula" name="id_pelicula">
            <div class="row">
              <!-- Título -->
              <div class="col-6">
                <label>Título:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-film"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Título" name="titulo" id="titulo" required>
                </div>
              </div>
              <!-- Director -->
              <div class="col-6">
                <label>Director:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <select class="form-control" name="id_director" id="id_director" required>
                    <option value="">Seleccione un director</option>
                    <option value="1">Edin</option>
                    <option value="2">Sumner</option>
                    <option value="3">Nahum</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Año -->
              <div class="col-6">
                <label>Año:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-calendar"></i>
                    </span>
                  </div>
                  <input type="number" class="form-control" placeholder="Año" name="anio" id="anio" required>
                </div>
              </div>
              <!-- Clasificación -->
              <div class="col-6">
                <label>Clasificación:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <select class="form-control" name="clasificacion" id="clasificacion" required>
                    <option value="">Seleccione una clasificación</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="NC-17">NC-17</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Duración -->
              <div class="col-6">
                <label>Duración:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-clock"></i>
                    </span>
                  </div>
                  <input type="number" class="form-control" placeholder="Duración (en minutos)" name="duracion" id="duracion" required>
                </div>
              </div>
              <!-- Póster -->
              <div class="col-6">
                <label>Póster:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-image"></i>
                    </span>
                  </div>
                  <input type="file" class="form-control" name="poster" id="poster" accept="image/*">
                  <img id="poster_preview" src="#" alt="Vista previa del póster" class="img-thumbnail mt-3" style="width: 150px;">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-times"></i> Cerrar
          </button>
          <button type="submit" class="btn btn-success" form="frm_registro_movie" id="btn_guardar_movie">
            <i class="fas fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="app/controllers/index.js"></script>